<!DOCTYPE html>
<html>
<head>
    <title>Sudo Club - Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../css/sudo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "js/index.js"></script>
</head>
<body>
    <header>
        <div id = "menu">
            <img id = "logo" src = "../css/img/Sudo.png"  height="65px" width="175px">
            <img class = "banners" src="../css/img/gitti.png" height="50px" width="50px">
            <img class = "banners" src="../css/img/javaSc.png" height="50px" width="50px">
            <img class = "banners" src="../css/img/ubun.png" height="50px" width="50px">
            <a href = https://sudosnow.slack.com><img class = "banners" src="../css/img/slack.png" height="50px" width="50px"></a>
        </div>
        <div class = "navigation" id = "myNav">
            <a href = "../index.html">Home</a>
            <a href = "#">Schedule</a>
            <a href = "https://sudosnow.slack.com/">Discussions</a>
            <a href = "#">About us</a>
            <a href= "javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
    </header>
        <div class = "container">
            <div class="card text-secondary">
                    <img class="card-img" src="../css/img/januaryFlag.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title"><p class = "text-center">January</p></h2>
                    </div>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <img class="card-img-top" src="../css/img/ubuntuFlag.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><span class = "subtitle">Ubuntu: </span>Tuesday, Jan 15th - Alex Mickelson </h5>
                        <p class="card-text">Come and learn about one of the most relevant operating systems of the modern era. In this meeting you will learn how it everything got started, and how easily it is for you to dive into the linux world.</p>
                        <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                    </div>
                </div>
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/testingFlag.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">Unit Testing: </span>Tuesday, Jan 22nd - Michael Vance</h5>
                            <p class="card-text">Undoubtedly one of the most valuable skills a programmer should have. Michael will introduce the concept of unit testing and how it can help your debugging a lot more efficient.</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/gitFlag.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">Version Control: Git and GitHub </span>Tuesday, Jan 29th - Leedan Johnson</h5>
                            <p class="card-text">Version control is an integral part of large scale software development. This presentation will include a basic overview of version control concepts, and hands-on experience with git, and GitHub.</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>            
            </div>
            <br>
            <div class="card text-secondary">
                    <img class="card-img" src="../css/img/januaryFlag.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title"><p class = "text-center">February</p></h2>
                    </div>
            </div> 

        <!--START OF NEW ROW-->      
            <div class="row">
                    <div class="card mb-3">
                            <img class="card-img-top" src="../css/img/vmFlag.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><span class = "subtitle">Virtual Machines: </span>Tuesday, Feb 5th - Spencer Stewart </h5>
                                <p class="card-text">A virtual machine is a software computer that, like a physical computer, runs an operating system and applications. Come and learn about how they work andhow they revolutionized the world of computing</p>
                                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                            </div>
                    </div>
                        <!--<div class="card mb-3">
                                <a href = "https://onedrive.live.com/survey?resid=7C64A62AB78C248B!158778&authkey=!AGtYJzQHIZzOTu8" style="text-decoration:none">
                            <img class="card-img-top" src="../css/img/travelFlag.jpg" alt="Card image cap">
                            <div class="card-body" style="color: black">
                                <h5 class="card-title" ><span class = "subtitle">Software CraftmanShip Meeting: </span>Wednesday, Feb 6th</h5>
                                <p class="card-text">Sign up for a ride to this month's Software Craftsmanship meeting</p>
                                    <p> > To Sign Up, <span class="subtitle">CLICK HERE</span></p>
                                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                                
                            </div>
                        </a>
                        </div>-->
                        
                        <div class="card mb-3">
                                <img class="card-img-top" src="../css/img/securityFlag.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><span class = "subtitle">Server/Backend Security: </span>Tuesday, Feb 12th - Kyler Daybell</h5>
                                    <p class="card-text">Databases often contain extremely sensitive information that must be protected from security vulnerabilities and exploits. Come and learn how to protect your information in the connected world of the internet. </p>
                                    <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                                </div>
                        </div>
                        <div class="card mb-3">
                                <img class="card-img-top" src="../css/img/toolFlag.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><span class = "subtitle">Building Tools: </span>Tuesday, Feb 26th Leedan Johnson</h5>
                                    <p class="card-text">Build tools are programs that automate the creation of executable applications from source code</p>
                                    <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                                </div>
                        </div>      
            </div>
            <br>
            <div class="card text-secondary">
                <img class="card-img" src="../css/img/januaryFlag.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h2 class="card-title"><p class = "text-center">March</p></h2>
                </div>
        </div> 
        <!--START OF NEW ROW-->
            <div class="row">
                    <div class="card mb-3">
                            <img class="card-img-top" src="../css/img/hackingFlag.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><span class = "subtitle">Hacking: </span>Tuesday, March 5th, Ammon Riley </h5>
                                <p class="card-text">In our era of “Internet everything,” it is safe to assume that all services are going to be the target of malicious users. It’s not a matter of if, it’s a matter of when. Come and learn how hacking has shaped the tech industry in terms of security.</p>
                                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                            </div>
                        </div>            
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/neuralFlag.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">A Tiny Introduction to Neural Networks: </span> Tuesday, March 12th, Wednesday Woodbury</h5>
                            <p class="card-text">Neural networks are relatively simple data structures that seemingly work 
                                like magic to solve hard problems such as image classification or Jeopardy games..</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/ubuntuFlag.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">[TBD] </span>[TBD]</h5>
                            <p class="card-text">[Coming Soon].</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>                          
            </div>                        
        </div>
    <!--<footer>
            <div id = "FAQ">
                <br>
            <p class = "text-center">Snow's Undergrad Developer Operations | © 2019 Snow College</p>
            <p class = "text-center">Web Designed by Diego Vanegas</p>
        </div>
    </footer>-->
</body>
</html>