<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../css/sudo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "js/index.js"></script>
</head>
<body>
    <header>
        <div id = "menu">
            <img id = "logo" src = "../css/img/Sudo.png"  height="65px" width="175px">
            <img class = "banners" src="../css/img/gitti.png" height="50px" width="50px">
            <img class = "banners" src="../css/img/javaSc.png" height="50px" width="50px">
            <img class = "banners" src="../css/img/ubun.png" height="50px" width="50px">
            <a href = https://sudosnow.slack.com><img class = "banners" src="../css/img/slack.png" height="50px" width="50px"></a>
        </div>
        <div class = "navigation" id = "myNav">
            <a href = "../index.html">Home</a>
            <a href = "#">Schedule</a>
            <a href = "https://sudosnow.slack.com/">Discussions</a>
            <a href = "#">About us</a>
            <a href= "javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
    </header>
        <div class = "container">
            <div class="card text-secondary">
                    <img class="card-img" src="../css/img/januaryFlag.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title"><p class = "text-center">January</p></h2>
                    </div>
            </div>
            <div class="row">
                <div class="card mb-3">
                    <img class="card-img-top" src="../css/img/ubuntuFlag.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><span class = "subtitle">Ubuntu: </span>Tuesday, Jan 15th - Alex Mickelson </h5>
                        <p class="card-text">Come and learn about one of the most relevant operating systems of the modern era. In this meeting you will learn how it everything got started, and how easily it is for you to dive into the linux world.</p>
                        <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                    </div>
                </div>
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/testingFlag.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">Unit Testing: </span>Tuesday, Jan 22nd - Michael Vance</h5>
                            <p class="card-text">Undoubtedly one of the most valuable skills a programmer should have. Michael will introduce the concept of unit testing and how it can help your debugging a lot more efficient.</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>
                <div class="card mb-3">
                        <img class="card-img-top" src="../css/img/gitFlag.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><span class = "subtitle">Git Hub: </span>Tuesday, Jan 29th - Leedan Johnson</h5>
                            <p class="card-text">[Coming Soon].</p>
                            <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                        </div>
                </div>            
            </div>
            <br>
            <div class="card text-secondary">
                    <img class="card-img" src="../css/img/januaryFlag.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h2 class="card-title"><p class = "text-center">February</p></h2>
                    </div>
            </div>            
            <div class="row">
                    <div class="card mb-3">
                            <img class="card-img-top" src="../css/img/vmFlag.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><span class = "subtitle">Virtual Machines: </span>Tuesday, Feb 5th - Spencer Stewart </h5>
                                <p class="card-text">[Coming Soon].</p>
                                <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                            </div>
                        </div>
                        <div class="card mb-3">
                                <img class="card-img-top" src="../css/img/securityFlag.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><span class = "subtitle">Server/Backend Security: </span>Tuesday, Feb 12th - Kyler Daybell</h5>
                                    <p class="card-text">[Coming Soon].</p>
                                    <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                                </div>
                        </div>
                        <div class="card mb-3">
                                <img class="card-img-top" src="../css/img/toolFlag.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title"><span class = "subtitle">Building Tools: </span>Tuesday, Feb 19th Leedan Johnson</h5>
                                    <p class="card-text">[Coming Soon].</p>
                                    <p class="card-text"><small class="text-muted">GRSC 143 - 4:30 pm</small></p>
                                </div>
                        </div>                  
            </div>                        
        </div>
    <footer>
            <div id = "FAQ">
                <br>
            <p class = "text-center">Snow's Undergrad Developer Operations | © 2019 Snow College</p>
            <p class = "text-center">Web Designed by Diego Vanegas</p>
        </div>
    </footer>
</body>
</html>